.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  font-size: small;
 
}

.showinfo { 
  display: none;
  color: white;
  background-color: black;
  opacity: .7;
  margin-top: 110%;

}

.bounding-box:hover .showinfo {
  display : block;
}

.inthebox {
	margin: auto;
}